@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

body {
	margin: 0px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
}

:root {
	--red: #C7251A;
	--yellow: #FBE122;
	--black: #000000;
	--white: #F4F5F5;
	--gray: #939196;
	--picshad: rgba(50, 50, 93, 0.35) 0px 13px 27px -5px, rgba(0, 0, 0, 0.4) 0px 8px 16px -8px;
	--textshad: 2px 4px 3px rgba(0,0,0,0.3);
}

header {
	height: 15vh;
	background-color: var(--red);
	border: solid 1px whitesmoke;
}

/*  start here */

main {
	height: 1500px;
}

.divforaside {
	display: flex;
}

.divformainpics {
	display: flex;
	flex-direction: column;
}

.newsimg1 {
	display: flex;
	flex-direction: column;

}

.imgcrop1 {
	position: absolute;
	width: 900px;
	margin-left: 60px;
	display: inline-block;		/* zoom trick */
  	overflow: hidden;            /* zoom trick */
}

#imgmain {
	width: 900px;
	box-shadow: var(--picshad);
	text-align: center;
	display: block;					/* zoom trick */
  	transition: transform 0.4s;		/* zoom trick */
}

#imgmain:hover {
	transform: scale(1.2);
	transform-origin: 50% 50%;
}

#imgtitle {
	display: inline-block;
	font-family: 'Bree Serif', serif;
	font-weight: 700;
	position: relative;
	margin-top: 300px;
	width: 900px;
	text-align: center;
	margin-left: 60px;
	color: var(--white);
	font-size: 2.8em;
	background-image: linear-gradient(180deg, rgba(36,0,24,0.3330065302488183) 0%, rgba(0,0,0,0.6859477067194065) 100%);
	text-shadow: var(--textshad);
}

#lighter {
	color: var(--white);
	font-size: 0.3em;
	font-weight: 400;
	font-family: 'Source Sans Pro', sans-serif;
	background-color: var(--red);
	text-shadow: var(--textshad);
	text-align: center;
	margin-left: 50px;
	bottom: 100px;
}

.newsimgsub {
	display: flex;
	justify-content: flex-start;
	margin-top: 50px;
}


.imgtext2 {
	display: flex;
	flex-direction: column;
	justify content: center;

}


.imgtitle2 {
	font-family: 'Bree Serif', serif;
	font-weight: 700;
	color: var(--white);
	font-size: 2em;
	background-image: linear-gradient(180deg, rgba(36,0,24,0.3330065302488183) 0%, rgba(0,0,0,0.6859477067194065) 100%);
	text-shadow: var(--textshad);
	text-align: center;
	margin-top: 135px;
}

.imgtitle2:hover {
	text-decoration-line: underline;
	font-size: 2.1em;
	transition: 0.2s ;
}

.imgtitle3 {
	font-family: 'Bree Serif', serif;
	font-weight: 700;
	color: var(--white);
	font-size: 1.5625em;
	background-image: linear-gradient(180deg, rgba(36,0,24,0.3330065302488183) 0%, rgba(0,0,0,0.6859477067194065) 100%);
	text-shadow: var(--textshad);
	text-align: left;
	margin-top: 135px;
}

.imgtitle3:hover {
	text-decoration-line: underline;
	font-size: 1.6em;
	transition: 0.2s ;
}

.imgcrop1 {
	height: 500px;
}


#lighter2 {
	color: var(--white);
	font-size: 12px;
	font-weight: 400;
	font-family: 'Source Sans Pro', sans-serif;
	background-image: none;
	background-color: var(--red);
	text-shadow: var(--textshad);
	line-height: -0.5em;
	text-align: left;

}


.imgtext2 {
	background-image: url(pics/defeat.webp);
	background-size: contain;
	background-repeat: no-repeat;
	width: 435px;
	height: 274px;
	margin-left: 60px;
	box-shadow: var(--picshad);
	text-align: center;
}


.imgtext3 {
	background-image: url(pics/gunnar.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	width: 465px;
	height:275px;
	box-shadow: var(--picshad);
	text-align: center;
	background-color: black ;
}




/* aside */


aside {
	text-align: left;
	height: 765px;
	box-shadow: var(--picshad);
	width: 300px;
	padding: 5px;
	color: var(--white);
	background-color: var(--white);
	overflow: auto;

}

aside h1 {
	font-family: 'Bree Serif', serif;
	font-weight: 700;
	color: var(--red);
	font-size: 2em;
	background-color: var(--white);
}

aside h3 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	color: var(--black);
	font-size: 1em;
	background-color: var(--white);
}

aside ul {
	text-align: left;
	list-style-type: none;
	margin-right: 15px;
	margin-left: -25px;
}

aside ul li {
	display: flex;
	background-color: var(--white);
	font-size: 0.85em;
	font-weight: 400;
	font-family: 'Source Sans Pro', sans-serif;
	background-image: none;
	padding: 3px;
}

aside ul li img {
	height: 64px;
}

aside ul li a {
	display: flex;
	text-decoration: none;
	color: var(--white);

}



/* stadium cards */




.stadium {
		background-image: url(pics/oldtrafford.jpg);
		height: 500px;
		display: flex;
		align-items: center;
}

.stadcardcontainer {
	display: flex;
}

.stadcard1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: var(--white);
	width: 320px;
	height: 400px;
	margin-left: 40px;
	box-shadow: var(--picshad);
	border-radius: 5px;

}

.stadcard1 img {
	width: 320px;
	object-fit: scale-down;
	position: relative;
}

.stadcard2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: var(--white);
	width: 320px;
	height: 400px;
	margin-left: 90px;
	box-shadow: var(--picshad);
	border-radius: 5px;

}

.imgcrop2 {
	width: 320px;
	height: 180px;
}

.imgcrop2 img {
	object-fit: cover;
	height: 180px;
	width: 320px;
}

.stadcard1:hover {
	border: solid 1px var(--white);
	border-radius: 6px;
}

.stadcard3 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: var(--white);
	width: 320px;
	height: 400px;
	margin-left: 90px;
	box-shadow: var(--picshad);
	border-radius: 5px;

}

.stadcard3 img {
	object-fit: cover;
	width: 320px;
	height: 180px;
}

.imgcrop3 img {
	object-fit: cover;
	height: 180px;
	width: 320px;
}


.cardtitle {
	position: relative;
	font-family: 'Bree Serif', serif;
	font-weight: 700;
	color: var(--red);
	font-size: 1.1em;
	width: 270px;
	padding: 10px;
	bottom: 10px;
}


.stadcard1.stadcard2.stadcard3 hr {
	color: var(--red);
	width: 50px;
	position: relative;
	right: 80px; 
}

#cardsubtitle {	
	font-family: 'Source Sans Pro', sans-serif;
	color: var(--black);
	position: relative;
	bottom: 50px;
	font-size: 1em;
	font-weight: 300;
	width: 300px;
}



/* footer */

footer {
	color: var(--white);
	font-size: 1em;
	background-color: var(--red) ;
}

footer hr {
	color: var(--white);
}

footer vr {

}

footer ul {
	list-style-type: none;
	margin-top: 20px;

}

footer ul li a {
	text-decoration: none;
	color: var(--white);
}

footer ul li a:hover {
	color: var(--yellow);
}


.mainfooter {
	display: flex;
	justify-content: space-between;
	height: 220px;
}

#footleft {
	display: flex;
	padding: 10px;
	margin-left: 60px;
}

#footright {
	display: flex;
	padding: 10px;
	margin-right: 60px;
}


#footcopy {
	padding: 5px;
	font-size: 0.8em ;
	display: flex;
	justify-content: safe flex-end;
}
